@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#menu-0 .navbar-toggler {
  color: #00363a;
}
#menu-0 .nav-link {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#slider-2 H2 {
  text-align: left;
  color: #000000;
}
#slider-2 P {
  color: #000000;
}
#msg-box1-15 P {
  color: #dddddd;
  text-align: left;
}
#msg-box1-15 H2 {
  color: #dddddd;
  text-align: left;
}
#features1-3 H4 {
  color: #00363a;
}
#features1-3 P {
  color: #00363a;
}
#content5-8 .mbr-section-title {
  text-align: center;
  font-size: 46px;
  color: #dddddd;
}
#contacts3-9 .btn {
  font-size: 18px;
}

#menu-a .navbar-toggler {
  color: #00363a;
}
#menu-a .nav-link {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#content5-1b P {
  font-size: 18px;
  color: #dddddd;
}
#content5-1b .mbr-section-title {
  font-size: 46px;
  color: #dddddd;
}
#content5-1b DIV {
  color: #99cccc;
}
#msg-box1-16 P {
  color: #dddddd;
  text-align: left;
}
#msg-box1-16 H2 {
  color: #000000;
  text-align: left;
}
#contacts3-g .btn {
  font-size: 18px;
}

#menu-v .navbar-toggler {
  color: #00363a;
}
#menu-v .nav-link {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box1-1k P {
  color: #dddddd;
  text-align: left;
}
#msg-box1-1k H2 {
  color: #000000;
  text-align: left;
}

#menu-1c .navbar-toggler {
  color: #00363a;
}
#menu-1c .nav-link {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box1-1d P {
  color: #dddddd;
  text-align: left;
}
#msg-box1-1d H2 {
  color: #dddddd;
  text-align: left;
}
#content5-1f P {
  font-size: 18px;
  color: #dddddd;
}
#content5-1f .mbr-section-title {
  font-size: 46px;
  color: #dddddd;
}
#contacts3-1g .btn {
  font-size: 18px;
}

#menu-1n .navbar-toggler {
  color: #00363a;
}
#menu-1n .nav-link {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#content5-1s P {
  font-size: 18px;
  color: #dddddd;
}
#content5-1s .mbr-section-title {
  font-size: 46px;
  color: #dddddd;
}
#content5-1s DIV {
  color: #99cccc;
}
#contacts3-1r .btn {
  font-size: 18px;
}
